header {
  text-align: center;
  font-size: 300%;
  text-transform: capitalize;
  padding-bottom: 150px;
  background-color: black;
  color: white;
}

header h2 {
  font-size: 60%;
  font-weight: lighter;
}

header h1 {
  font-size: 200%;
  padding-top: 200px;
}

a {
  text-transform: capitalize;
  font-size: 200%;
  color: white;
}

input[type=text] {
  padding: 10px;
  margin-top: 5px;
  font-size: 20px;
}

button {
  padding: 10px;
  margin-top: 5px;
  font-size: 20px;
  background-color: red;
  border: 1px solid red;
}

footer {
  text-align: center;
  font-size: 80%;
  background-color: black;
  color: white;
}

footer a {
  font-size: 100%;
  color: white;
}

.container {
  padding-bottom: 200px;
  font-family: 'Crimson Text', serif;
}

.item a {
  color: white;
  font-style: oblique;
}

#the-menu {
  list-style: none;
}

#the-menu a {
  color: white;
}

#the-menu li {
  text-transform: uppercase;
  font-size: 100%;
}

div {}

.menu {
  text-align: center;
}

#social-media {
  font-size: 300%;
}

body {
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Crimson Text', serif;
  font-size: 30px;
}

@font-face {
  src: url(../../fonts/CrimsonText-Regular.ttf);
}

.container h3 {
  text-transform: uppercase;
  font-size: 400%;
}
