#show-contact {
    display: none;
  }

  .contact {
    cursor: pointer;
    color: #0088cc;
  }

  .contact:hover {
    text-decoration: underline;
  }
.form-group{
  margin-left: 500px;

}
.row{
  border: 2px solid black;

}
